*{
    box-sizing: border-box;
    margin:0;
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align: center;
    color: blue;
    margin-top: 50px;
    margin-bottom: 75px;
    font-size: 1.75em;
}
main{
    padding: 0px  2%;
    border: 1px solid black;
    height:350px;
}
.Container{
    
    border:1px solid black;
    width:31%;
    height:250px;
    background-color: lightgray;
    margin:1%;
    float:left;
    overflow: auto;
    
}
.Section-title{
    font-size: 1.25em;
    border: 1px solid rgb(187, 10, 10);
    width:22%;
    text-align: center;
    /*height: 30px;*/
    margin-bottom: 20px;
    padding: 1% 2% 1% 2%;
    position: relative;
    left:78%;

    background-color: lightpink;

}
.Sec2-color {
    background-color: lightseagreen;
}
.Sec3-color {
    background-color: lightskyblue;
}
.Article-margin{
    margin:  2% 3% 3% 3% ;
}

@media (min-width: 768px) and (max-width:991px){
    .Container{         
        width:48%;           
        margin:1%;
        }
#Section-no-float{
    clear:both;
    width:98%;
    
}
}

@media (max-width:767px){
    .Container{
        
        clear:both;
        width:98%;
        
    }

}